@tailwind base;
@tailwind components;
@tailwind utilities;

.file-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.button-bar {
  display: flex;
  justify-content: space-between;
}